.weather-container {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: auto;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    color: white;
}

.weather-title {
    font-size: 28px;
    color: #333;
}

.loading-text {
    color: #007bff;
}

.error-text {
    color: red;
}

.weather-card {
    margin-top: 20px;
    padding: 15px;
    border-radius: 8px;
    background: rgb(39 39 39 / 90%);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.city-name {
    font-size: 24px;
    margin-bottom: 5px;
}

.date-text {
    font-size: 14px;
    color: #afafaf;
}

.weather-icon {
    width: 100px;
    margin: 10px 0;
}

.weather-description {
    font-size: 18px;
    color: #afafaf;
}

.temperature {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

.sunrise-sunset {
    text-align: left;
    margin: 15px 0;
}

.humidity,
.wind-speed {
    margin-top: 5px;
    font-size: 16px;
}

.unit-toggle {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.unit-toggle:hover {
    background-color: #0056b3;
}

/* Dynamic Backgrounds */
.clear-bg {
    background: linear-gradient(to bottom, #87ceeb, #b0e0e6);
}

.clouds-bg {
    background: linear-gradient(to bottom, #d3d3d3, #f5f5f5);
}

.rain-bg {
    background: linear-gradient(to bottom, #76b3e5, #a9c9ff);
}

.snow-bg {
    background: linear-gradient(to bottom, #e0e0e0, #ffffff);
}

.storm-bg {
    background: linear-gradient(to bottom, #414345, #232526);
}

.drizzle-bg {
    background: linear-gradient(to bottom, #a1c4fd, #c2e9fb);
}

.default-bg {
    background: linear-gradient(to bottom, #ece9e6, #ffffff);
}


.search-box {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.search-input {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
    outline: none;
    width: 200px;
}

.search-button {
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-button:hover {
    background-color: #0056b3;
}